@model UserSignInViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<head>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/CoreBlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>
<body>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Sign In Now</h3>
            <div class="row inner-sec">
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form asp-action="Index" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1 mb-2">Username</label>
                            <span class="text-danger" asp-validation-for="@Model.username"></span>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="@Model.username" />
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1 mb-2">Password</label>
                            <span class="text-danger" asp-validation-for="@Model.password"></span>
                            <input type="password" class="form-control" id="exampleInputPassword1" asp-for="@Model.password" />
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                        <p><a href="/RegisterUser/Index"> Don't have an account?</a></p>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

